@page "/userprofile/{Id:int}"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using SGE.Aplicacion.ViewModels
@using SGE.Repositorios
@inject ObtenerUserAccountUseCase obtenerUsuario
@using Microsoft.AspNetCore.Components.Authorization
@using global::SGE.Aplicacion
@inject SGEContext DbContext

<h3>Perfil de Usuario</h3>

@if (user == null)
{
    <p class="text-danger">Usted no ha iniciado sesión.</p>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Información del Usuario</h5>
            <p><strong>Nombre de Usuario:</strong> @user.UserName</p>
            <p><strong>Nombre:</strong> @user.Name</p>
            <p><strong>Apellido:</strong> @user.Surname</p>
            <p><strong>Email:</strong> @user.Email</p>
            <p><strong>Rol:</strong> @user.Role</p>
            @if (user.Permisos != null && user.Permisos.Any())
            {
                <div>
                    <strong>Permisos:</strong>
                    <ul>
                        @* @foreach (TipoPermiso permiso in Enum.GetValues(typeof(TipoPermiso)))
                        {
                            <div>
                        
                                <li>TipoPermiso</li>
                            </div>
                        } *@
                        @foreach (var p in user.Permisos)
                        {
                            <div>
                                <li>@p.tipoPermiso</li>
                            </div>
                        }
                    </ul>
                </div>
            }
            else
            {
                <p>Este usuario no tiene permisos asignados.</p>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private UserAccount user { get; set; }
    @* private List<Permiso> permisos; *@

    protected override async Task OnInitializedAsync()
    {
        user = await DbContext.Usuarios.Include(u => u.Permisos).FirstOrDefaultAsync(u => u.Id == Id);
        @* user = obtenerUsuario.Ejecutar(Id); //se debería implementar de esta manera, llamando al caso de uso
        permisos = user.Permisos; *@
    }
}
