@page "/listadoExpedientes"
@rendermode InteractiveServer
@inject CasoDeUsoListarExpedientes CasoDeUsoListarExpedientes
@inject ListarUserAccountUseCase listarUsuarios
@inject CasoDeUsoExpedienteBaja CasoDeUsoExpedienteBaja
@inject NavigationManager Navegador
@inject IServicioSession sesion
@inject IServicioAutorizacion autorizacion

@*<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>*@

@if (_lista.Count == 0)
{
        <h3>Aún no existen expedientes</h3>
        <button class="btn btn-primary" @onclick= "()=>AgregarExpediente()">Agregar Expediente</button>


    //poniendo el if nisiquiera muestra el boton
    @* @if (autorizacion.PoseeElPermiso(sesion.GetUserId(), TipoPermiso.ExpedienteAlta))
    {
    } *@
}
else
{
        <div class="form-group">
            <label for="idExpediente">Filtrar por ID de expediente:</label>
            <input type="number" class="form-control" id="idExpediente" @bind="_idExpediente" placeholder="Ingrese el ID del expediente" min="1" required>
            <span class="text-danger">@_errorMessageId</span>
        </div>
        <button @onclick="FiltrarExpedientes">Filtrar</button>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CARATULA</th>
                    <th>FECHA CREACION</th>
                    <th>FECHA MODIFICACION</th>
                    <th>ID USUARIO MODIF.</th>
                    <th>ESTADO</th>
                    <th>TRAMITES</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var exp in _lista)
            {
                        <tr>
                            <td>@exp.Id</td>
                            <td>@exp.caratula  </td>
                            <td>@exp.fechaHoraCreacion</td>
                            <td>@exp.fechaHoraUModificacion</td>
                            <td>@exp.IdUsuarioMod</td>
                            <td>@exp.estado</td>
                            <td>
                                <button class="btn btn-primary" @onclick= "()=>VerTramites(exp.Id)">Trámites</button>
                            </td>
                            <td>
                                @* con el if ni siquiera muestra los botones *@
                                @* @if (autorizacion.PoseeElPermiso(sesion.GetUserId(), TipoPermiso.ExpedienteModificacion))
                                {
                                    <button class="btn btn-primary" @onclick= "()=>ModificarExpediente(exp)">Editar</button>
                                }

                                @if (autorizacion.PoseeElPermiso(sesion.GetUserId(), TipoPermiso.ExpedienteBaja))
                                {
                                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(exp)">Eliminar</button>
                                } *@
                                <button class="btn btn-primary" @onclick= "()=>ModificarExpediente(exp)">Editar</button>
                                <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(exp)">Eliminar</button>
                                
                            </td>
                        </tr>
            }
                        
            </tbody>
        </table>
        
        <span class="text-danger">@_errorMessageAuthBaja</span>

    @* @if (autorizacion.PoseeElPermiso(sesion.GetUserId(), TipoPermiso.ExpedienteAlta))
    {
                <button class="btn btn-primary" @onclick= "()=>AgregarExpediente()">Agregar Expediente</button>
    } *@
            <button class="btn btn-primary" @onclick= "()=>AgregarExpediente()">Agregar Expediente</button>


}

<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>

@* <style>
    .error-message {
        display: block;
        margin-top: 10px;
        color: red;
    }
</style> *@

@code {
    private int _idExpediente;

    DialogoConfirmacion dialogo;
    private List<UserAccount> usuarios;  // Lista de usuarios para imprimir en consola
    List<Expediente> _lista = new List<Expediente>();
    Expediente? _ExpedienteParaEliminar = null;
    private string? _errorMessageAuthBaja, _errorMessageId;

    protected override void OnInitialized()
    {

        dialogo = new DialogoConfirmacion();
        _lista = CasoDeUsoListarExpedientes.Ejecutar();
    }

    // Filtrar la lista de expedientes según el ID ingresado
    private void FiltrarExpedientes()
    {
        if (_idExpediente <= 0)
        {
            _errorMessageId = "Ingrese un ID válido.";
            return;
        }

        _lista = CasoDeUsoListarExpedientes.Ejecutar();
        var expedienteExistente = _lista.FirstOrDefault(e => e.Id == _idExpediente);
        if (expedienteExistente == null)
        {
            _errorMessageId = "El ID no corresponde a un expediente existente.";
            return;
        }

        _lista = new List<Expediente> { expedienteExistente }; // Filtrar por el ID ingresado
        _errorMessageId = string.Empty; // Borra el mensaje de error si el ID es válido y existe
    }

    //ver otra manera de hacer, con EventCallback  (esta en la filmina)
    private void ConfirmarEliminacion(Expediente exp)
    {
        _ExpedienteParaEliminar = exp;
        dialogo.Mensaje = $"¿Desea eliminar el expediente {exp.Id}?";
        dialogo.Mostrar();
    }
    private void Eliminar()
    {
        try{
            if (_ExpedienteParaEliminar != null)
            {
                CasoDeUsoExpedienteBaja.Ejecutar(_ExpedienteParaEliminar.Id, sesion.User.Id, TipoPermiso.ExpedienteBaja);
                _lista = CasoDeUsoListarExpedientes.Ejecutar(); //se actualiza la lista de clientes
            }

        }
        catch(Exception error){
            _errorMessageAuthBaja = error.Message;
        }
    }

    void ModificarExpediente(Expediente exp)
    {
        Navegador.NavigateTo($"expediente/{exp.Id}");
    }

    void AgregarExpediente()
    {
        Navegador.NavigateTo($"expediente/");
    }

    void VerTramites(int IdExp)
    {
        Navegador.NavigateTo($"listadoTramitesExp/{IdExp}");
    }

}