@page "/listadoExpedientes"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles="Administrador,Usuario")]
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject CasoDeUsoListarExpedientes CasoDeUsoListarExpedientes
@inject CasoDeUsoExpedienteBaja CasoDeUsoExpedienteBaja
@inject NavigationManager Navegador
@inject SGEContext DbContext
@inject IServicioSesion sesion

 
<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>

@if (_lista.Count == 0){
    <h3>Aún no existen expedientes</h3>
    <button class="btn btn-primary" @onclick= "()=>AgregarExpediente()">Agregar Expediente</button>
    }
else{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>CARATULA</th>
                <th>FECHA CREACION</th>
                <th>FECHA MODIFICACION</th>
                <th>ID USUARIO MODIF.</th>
                <th>ESTADO</th>
                <th>TRAMITES</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exp in _lista)
            {
                <tr>
                    <td>@exp.Id</td>
                    <td>@exp.caratula  </td>
                    <td>@exp.fechaHoraCreacion</td>
                    <td>@exp.fechaHoraUModificacion</td>
                    <td>@exp.IdUsuarioMod</td>
                    <td>@exp.estado</td>
                    <td>aqui iria algun boton o alguna manera de mostrar los tramites asociados al expediente</td>
                    <td>
                        <button class="btn btn-primary" @onclick= "()=>ModificarExpediente(exp)">Editar</button>
                        <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(exp)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

        <button class="btn btn-primary" @onclick= "()=>AgregarExpediente()">Agregar Expediente</button>

}
@code {
    private List<UserAccount> usuarios;  // Lista de usuarios para imprimir en consola
    List<Expediente> _lista = new List<Expediente>();
    protected override void OnInitialized()
    {
        _lista = CasoDeUsoListarExpedientes.Ejecutar();
        usuarios = DbContext.Usuarios.Include(u => u.Permisos).ToList();
        Console.WriteLine("usuarios en listado expediente");
        foreach (var usuario in usuarios)
        {
            Console.WriteLine($"Usuario: {usuario.UserName}");

            if (usuario.Permisos != null && usuario.Permisos.Any())
            {
                Console.WriteLine("Permisos:");

                foreach (var permiso in usuario.Permisos)
                {
                    Console.WriteLine($" - {permiso.tipoPermiso}");
                }
            }
            else
            {
                Console.WriteLine("Este usuario no tiene permisos asignados.");
            }

            Console.WriteLine(); // Separador entre usuarios
        }

    }

    DialogoConfirmacion dialogo = null!;
    Expediente? _ExpedienteParaEliminar = null;

    //ver otra manera de hacer, con EventCallback  (esta en la filmina)
    private void ConfirmarEliminacion(Expediente exp)
    {
        _ExpedienteParaEliminar = exp;
        dialogo.Mensaje = $"¿Desea eliminar el expediente {exp.Id}?";
        dialogo.Mostrar();
    }
    private void Eliminar()
    {
        if (_ExpedienteParaEliminar != null)
        {
            CasoDeUsoExpedienteBaja.Ejecutar(_ExpedienteParaEliminar.Id, sesion.GetUserId(), TipoPermiso.ExpedienteBaja);
            _lista = CasoDeUsoListarExpedientes.Ejecutar(); //se actualiza la lista de clientes
        }
    }

    void ModificarExpediente(Expediente exp){
        Navegador.NavigateTo($"expediente/{exp.Id}");
    }

    void AgregarExpediente(){
        Navegador.NavigateTo($"expediente/");
    }

}