@page "/tramite/{IdExp:int}/{Id:int?}"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteAlta altaTramite
@inject CasoDeUsoTramiteConsultaPorId consultaTramite
@inject CasoDeUsoTramiteModificacion modificacionTramite
@inject CasoDeUsoExpedienteConsultaPorId consultaExpediente
@inject NavigationManager Navegador
@inject IServicioSesion sesion

@if (_isLoading)
{
    <p>Cargando...</p>
}
else if (_esNuevoTramite)
{
    <h3>Agregar Trámite</h3>

    @* Formulario para agregar Trámite *@
    <form>
        @* Campo para seleccionar la etiqueta del tramite *@
        <div class="form-group">
            <label for="etiqueta">Etiqueta del trámite:</label>
            <select id="etiqueta" class="form-control" @bind="_tramite.Etiqueta">
                @foreach (var etiqueta in etiquetas)
                {
                    <option value="@etiqueta">@etiqueta</option>
                }
            </select>
        </div>
        
        <div class="form-group">
            <label for="contenido">Contenido:</label>
            <input type="text" class="form-control" id="contenido" @bind="_tramite.Contenido" required>
        </div>

        <button class="btn btn-primary" @onclick="CrearTramite">Agregar Trámite</button>
        @if (!string.IsNullOrEmpty(_errorMessage))
        {
            <span class="text-danger">@_errorMessage</span>
        }
    </form>
}
else
{
    <h3>Modificar Trámite</h3>

    @* Formulario para modificar Trámite *@
    <form>
        @* Campo para seleccionar la etiqueta del tramite *@
        <div class="form-group">
            <label for="etiqueta">Etiqueta del Trámite:</label>
            <select id="etiqueta" class="form-control" @bind="_tramite.Etiqueta">
                @foreach (var etiqueta in etiquetas)
                {
                    <option value="@etiqueta">@etiqueta</option>
                }
            </select>
        </div>
        
        <div class="form-group">
            <label for="contenido">Contenido:</label>
            <input type="text" class="form-control" id="contenido" @bind="_tramite.Contenido" required>
        </div>

        <button class="btn btn-primary" @onclick="ActualizarTramite">Modificar Trámite</button>
        @if (!string.IsNullOrEmpty(_errorMessage))
        {
            <span class="text-danger">@_errorMessage</span>
        }
    </form>
}

@code {

    [Parameter]
    public int IdExp { get; set; }
    [Parameter]
    public int? Id { get; set; }
    
    private bool _isLoading = true;
    private bool _esNuevoTramite = true;
    private string _errorMessage = string.Empty;

    private Expediente _expediente;
    private Tramite _tramite = new Tramite();
    private List<Etiqueta> etiquetas = Enum.GetValues(typeof(Etiqueta)).Cast<Etiqueta>().ToList();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Task.Delay(1000); // Simulación de carga
            _expediente = consultaExpediente.Ejecutar(IdExp);
            
            if (Id.HasValue)
            {
                var tramite = consultaTramite.Ejecutar(Id.Value);
                if (tramite != null)
                {
                    _tramite = tramite;
                    _esNuevoTramite = false;
                }
            }
        }
        catch (Exception ex)
        {
            _errorMessage = $"Error al cargar los datos: {ex.Message}";
            Console.WriteLine($"Error al cargar los datos: {ex.Message}");
        }
        finally
        {
            _isLoading = false;
        }
    }

    void CrearTramite()
    {
        try
        {
            _errorMessage = string.Empty;
            altaTramite.Ejecutar(_tramite, _expediente, sesion.GetUserId(), TipoPermiso.TramiteAlta);
            Siguiente();
        }
        catch (Exception error)
        {
            _errorMessage = "No tiene permisos para agregar este trámite.";
            Console.WriteLine($"Error al agregar trámite: {error.Message}");
        }
    }

    void ActualizarTramite()
    {
        try
        {
            _errorMessage = string.Empty;
            modificacionTramite.Ejecutar(_tramite, _expediente, sesion.GetUserId(), TipoPermiso.TramiteModificacion);
            Siguiente();
        }
        catch (Exception error)
        {
            _errorMessage = "No tiene permisos para modificar este trámite.";
            Console.WriteLine($"Error al modificar trámite: {error.Message}");
        }
    }

    void Siguiente()
    {
        try
        {
            Console.WriteLine("Navegando a /listadoTramites");
            Navegador.NavigateTo("/listadoTramites");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al navegar: {ex.Message}");
        }
    }
}
